# Server Configuration
GRPC_PORT=50052

# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=price-updates
KAFKA_GROUP_ID=market-trading-group
KAFKA_WORKER_COUNT=10

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PRICE_TTL=60

# Logging
LOG_LEVEL=info
